<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <div class="grid">
                <div class="grid__col-xs-12">
                    {{{ getFile 'site/docs/views/examples/features/banner-img.html' }}}
                </div>
            </div>
            {{{ getFile 'site/docs/views/examples/features/square-trio-text.html' }}}
        </div>
    </div>
</div>
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="grid">
                <div class="grid__col-xs-12">
                    <h2 class="margin-reset">why shop with graze?</h2>
                </div>
            </div>
            {{{ getFile 'site/docs/views/examples/features/value-proposition.html' }}}
        </div>
    </div>
</div>
<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <div class="grid">
                <div class="grid__col-xs-12">
                    <h3 class="margin-reset">latest collections</h3>
                </div>
            </div>
            {{{ getFile 'site/docs/views/examples/features/half-2-1-heading.html' }}}
            <div class="grid">
                <div class="grid__col-xs-12">
                    <h3 class="margin-reset">blog: top tips and snack hacks from our taste experts</h3>
                </div>
            </div>
            {{{ getFile 'site/docs/views/examples/features/half-trio-heading.html' }}}
        </div>
    </div>
</div>
