<div class="cd-page-nav">
    <p class="cd-text cd-title">contents:</p>
    <ol class="cd-text"></ol>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="grid">
            <div class="grid__col-xs-12">
                <h1 class="cd-title" id="banner">Feature block examples</h1>
                <p class="cd-text">This page outlines all the possible layouts for feature blocks. To see a full page laid out using these feature blocks, check out the <a href="/layouts/example-feature-page">example feature page</a>.</p>
                <h2 class="cd-title">Feature banner</h2>
                <p class="cd-text">Feature banners are designed to work with an image that is 1200px wide and 300px high. For art direction you should consider the right two thirds of the image as the focus as demonstrated below.</p>

                <img src="/images/banners/banner-template-simple.jpg" class="img-responsive">

                <h3 class="cd-title">with fade</h3>
                <p class="cd-text">Faded banner content will work for the vast majority of images and should be considered the default.</p>
                {{{ getFile 'site/docs/views/examples/features/banner-fade.html' }}}
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/banner-fade.html' }}}
                {{/codeBlock}}

                <h3 class="cd-title">with no fade</h3>
                <p class="cd-text">Some images are not suitable for use with the fade but there is an option without fade.</p>
                {{{ getFile 'site/docs/views/examples/features/banner.html' }}}
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/banner.html' }}}
                {{/codeBlock}}

                <h3 class="cd-title">with a dark background</h3>
                <p class="cd-text">Images with a dark background colour are suitable for use with white text with a shadow.</p>
                {{{ getFile 'site/docs/views/examples/features/banner-dark.html' }}}
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/banner-dark.html' }}}
                {{/codeBlock}}

                <p class="cd-text">Below 992 pixel viewport width all banners will respond by collapsing the text content below the banner image. Resize your browser to see how it works (if you need to).</p>
            </div>
        </div>

        <div class="grid">
            <div class="grid__col-xs-12">
                <h1 class="cd-title" id="grid">Block grid examples</h1>
                <h2 class="cd-title">square feature block trio with text</h2>
            </div>
        </div>
        {{{ getFile 'site/docs/views/examples/features/square-trio-text.html' }}}
        <div class="grid">
            <div class="grid__col-xs-12">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/square-trio-text.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <div class="grid">
            <div class="grid__col-xs-12">
                <h2 class="cd-title">square feature block trio with footer</h2>
            </div>
        </div>
        {{{ getFile 'site/docs/views/examples/features/square-trio-footer.html' }}}
        <div class="grid">
            <div class="grid__col-xs-12">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/square-trio-footer.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <div class="grid">
            <div class="grid__col-xs-12">
                <h2 class="cd-title">square feature block quartet with footer</h2>
            </div>
        </div>
        {{{ getFile 'site/docs/views/examples/features/square-quartet-footer.html' }}}
        <div class="grid">
            <div class="grid__col-xs-12">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/square-quartet-footer.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <div class="grid">
            <div class="grid__col-xs-12">
                <h2 class="cd-title">half feature block trio with heading</h2>
            </div>
        </div>
        {{{ getFile 'site/docs/views/examples/features/half-trio-heading.html' }}}
        <div class="grid">
            <div class="grid__col-xs-12">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/half-trio-heading.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <div class="grid">
            <div class="grid__col-xs-12">
                <h2 class="cd-title">2:1 blocks with heading</h2>
            </div>
        </div>
        {{{ getFile 'site/docs/views/examples/features/half-2-1-heading.html' }}}
        <div class="grid">
            <div class="grid__col-xs-12">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/half-2-1-heading.html' }}}
                {{/codeBlock}}
            </div>
        </div>
        {{{ getFile 'site/docs/views/examples/features/half-2-1-heading-reverse.html' }}}
        <div class="grid">
            <div class="grid__col-xs-12">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/features/half-2-1-heading-reverse.html' }}}
                {{/codeBlock}}
            </div>
        </div>
    </div>
</div>
