<h1 class="cd-text cd-title">colour palette</h1>

<p class="cd-text"></p>

<h2 class="cd-text cd-title">brand colours</h2>

<div class="row">
    <div class="col-xs-12">
        <h3 class="cd-text cd-title">primary</h3>
    </div>

    {{#each colours.brand.primary}}
    <div class="col-xs-6">
        <h3 class="cd-text cd-title">{{ title }}</h3>
        <div class="cd-colour-block" style="background: #{{ hex }};">
            <code class="cd-colour-block__label">#{{ hex }}</code><br>
            <code class="cd-colour-block__label">{{ variable }}</code>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">
    <div class="col-xs-12">
        <h3 class="cd-text cd-title">secondary</h3>
        <p class="cd-text">Use the secondary colour palette sparingly and only to compliment the primary brand colour.</p>
    </div>

    {{#each colours.brand.secondary}}
    <div class="col-xs-6">
        <h3 class="cd-text cd-title">{{ title }}</h3>
        <div class="cd-colour-block" style="background: #{{ hex }};">
            <code class="cd-colour-block__label">#{{ hex }}</code><br>
            <code class="cd-colour-block__label">{{ variable }}</code>
        </div>
    </div>
    {{/each}}
</div>

<h2 class="cd-text cd-title">UI colours</h2>
<div class="row">
    {{#each colours.ui}}
    <div class="col-xs-6">
        <h3 class="cd-text cd-title">{{ title }}</h3>
        <div class="cd-colour-block" style="background: #{{ hex }};">
            <code class="cd-colour-block__label">#{{ hex }}</code><br>
            <code class="cd-colour-block__label">{{ variable }}</code>
        </div>
    </div>
    {{/each}}
</div>

<h2 class="cd-text cd-title">monochrome colours</h2>

<div class="row">
    {{#each colours.monochrome}}
    <div class="col-xs-6">
        <h3 class="cd-text cd-title">{{ title }}</h3>
        <div class="cd-colour-block" style="background: #{{ hex }};">
            <code class="cd-colour-block__label">#{{ hex }}</code><br>
            <code class="cd-colour-block__label">{{ variable }}</code>
        </div>
    </div>
    {{/each}}
</div>
