<!DOCTYPE html>
<html lang="en" class="experience-core has-page-footer">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pistachio | {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/github-gist.css">
    <link rel="stylesheet" type="text/css" href="/css/pistachio.css">
    <link rel="stylesheet" type="text/css" href="/css/docs.css">

    <script type="text/javascript">
    {{{ getFile '/js/docs/cuts-the-mustard.js' }}}
    </script>
</head>
<body>

<header class="page-section page-section--bleed page-section--alternate cd-text">
    <div class="container">
        <div class="grid grid--bleed">
            <div class="grid__col-sm-6 grid--direction-row grid--align-center">
                <img src="/images/pistachio.svg" class="pistachio-logo">
                <p class="pistachio-header">
                    Pistachio
                    <span class="pistachio-subheader">the front end framework and pattern library for graze.com</span>
                </p>
            </div>
            <div class="grid__col-sm-6 grid--align-self-end grid--justify-center">
                <ul class="nav nav--tabs nav--tabs--sm">
                    {{#if home}}
                    <li>
                        <a class="nav__item nav__item--active" tabindex="-1" href="/">
                            about
                        </a>
                    </li>
                    {{else}}
                    <li>
                        <a class="nav__item" href="/">
                            about
                        </a>
                    </li>
                    {{/if}}
                    {{#each pages}}
                        {{#if current}}
                        <li>
                            <a class="nav__item nav__item--active" tabindex="-1" href="/{{ path }}">
                                {{ name }}
                            </a>
                        </li>
                        {{else}}
                        <li>
                            <a class="nav__item" href="/{{ path }}">
                                {{ name }}
                            </a>
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</header>

{{#if sidebar }}
<div class="container">
    <div class="row">
        <div class="col-sm-3 cd-text">
            <ul class="list-unstyled accordion accordion--list" data-p-module="accordion" data-accordion-responsive="xxs,xs">
                <li class="accordion__section">
                    <section class="accordion__section__title visible-xxs-block visible-xs-block">
                        categories
                    </section>
                    {{#if subpages }}
                    <div class="accordion__section__content accordion__section__content--bleed">
                        <ul class="nav nav--vertical">
                            {{#each subpages}}
                                {{#if current}}
                                    <li>
                                        <a class="nav__item nav__item--active" tabindex="-1" href="/{{ path }}">
                                            {{ name }}
                                        </a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a class="nav__item" href="/{{ path }}">
                                            {{ name }}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <div class="cd-page-nav">
                <p class="cd-text cd-title">contents:</p>
                <ol class="cd-text"></ol>
                <hr>
            </div>

            {{{ body }}}
        </div>

    </div>
</div>
{{else}}
    {{{ body }}}
{{/if}}

{{{ getFile 'site/docs/views/examples/footer.html' }}}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/pistachio.js"></script>
<script type="text/javascript">
{{{ getFile 'js/docs/docs.js' }}}
</script>

</body>
</html>
